/* Site-wide Formatting */

body, html {
    background-color: rgb(66,50,66);
}

h1, h2, h3, h4 {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
}

p, pre, label
{
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Libre Baskerville', sans-serif; */
    color: rgb(255, 255, 255);
    text-align: center;
}

a
{
    color: rgb(221, 160, 221);
}

.productImg {
    max-width: 15%;
    max-height: 15%;
    height: auto;
}

/* Nav Bar Formatting */

.main-header ul {
    /*Styling for the unorder list which is part of the nav bar */
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 200px;
    overflow: hidden;
    background-color: rgb(85, 65, 85);
    height: auto;
    width: 100%;
}

.main-header ul li {
    float: left;
    width: 25%;
}


.main-header li a {
    /*Styling for the links in the nav bar */
    /* width: 350px; */
    display: block;
    font-family: Helvetica, sans-serif;
    /* color: white; */
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

.main-header li a:hover {
    /*styling for when the mouse hovers over a link in the nav bar */
    background-color: rgb(57, 43, 57);
    color: white;
    text-decoration: underline;
}

/* Icons in Header */

.icons {
    float: right;
    display: block;
    padding: 5px;
    width: 100%;

}

.icons ul {
    list-style-type: none;
}

.icons ul li {
    float: right;
    margin-left: 10px;
    padding-bottom: 10px;


}

/* Logo In Header */

.icons ul li2 {

    /* display: block; */
    /* float: left; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0;
    margin: 0;
    top: 0;
    left: 0; */
}

.logoimg img {
    max-width: 15%;
    max-height: 15%;
    height: auto;
}

header {
    padding-bottom: 20px;
    flex-wrap: wrap;
}

/* CSS for the login/logout button in Header*/
.button {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;




}

.login {
    background-color: #9b26b6;
    color: white;

}

@media screen and (max-width: 1000px) {
    .main-header ul li a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
}

/* Contact Page Formating */

.contact {
    box-shadow: 0 0 10px;
    width: 40%;
    margin: 50px auto;
    background-color: rgb(85, 65, 85);
}

.contact label {
    text-align: left;
}

.contact-c {
    display: flex;
    justify-content: center;
}

.contact input {
    margin-right: 10px;
    border-radius: 5px;
    width: 40%;
    border: none;

}

.contact button {
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    width: 10%;

}

.contact button:hover {
    background-color: rgb(57, 43, 57);
}

.contact textarea {
    width: 40%;
    border-radius: 5px;
}

.contact label {
    font-family: Arial, Helvetica, sans-serif;
    color: #dda0dd;
}


.contact input, .contact textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 40%;
    box-sizing: border-box;

}

.contact input:focus, .contact textarea:focus {
    outline: 2px solid #9B26B6;
    box-shadow: 0 0 5px rgba(155, 37, 182, 0.5);
}


.contact button {
    background-color: rgb(219, 128, 219);
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    width: 20%;
    size: 50px;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;

}

.contact button:hover {
    background-color: rgb(57, 43, 57);
}

/* Contact Info on Side of Page */

.contact-info {
    width: 30%;
    margin-left: 20px;
    margin-top: 90px;
}

.contact-info-item {
    display: flex;
}

.contact-info-icons {
    height: 40px;
    width: 40px;
    background-color: rgb(85, 65, 85);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.contact-info-icons i {
    font-size: 20px;
    line-height: 40px;
    color: white;
}


@media screen and (max-width: 480px) {
    .container-c {
        flex-direction: column;
    }

    .contact,
    .contact-info {
        max-width: 100%;
        padding: 10px;
    }

    .contact button {
        width: 100%;

    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: initial;
    margin: 20px;
}

/* Products Page Formatting*/

#product_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#product-info {
    background-color: rgb(85, 65, 85);
    border: 2px solid dimgrey;
    border-radius: 5px;
    padding: 5px;
    width: 20%;
    margin: 5px;
}

.product-gallery-image {
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 800px) {

    /* Responsive layout - makes a one column layout instead of a two-column layout */
    #product_container {
        flex-direction: column;
    }

    #product-info {
        width: 90%;
    }
}

/* Individual Product View Page Formatting */

#product-view-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#product-view-container-image {
    width: 40%;
    display: flex;
}

#product-view-image {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#product-view-container-info {
    width: 60%;
    text-align: center;
}

#add-to-basket-button {
    background-color: rgb(219, 128, 219);
    padding: 10px;
    margin: 3px;
    color: #fff;
    width: 50%;
}

#add-to-basket-button:hover {
    background-color: rgb(57, 43, 57);
}


/* CSS for the login/logout button */
.button {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Libre Baskerville';
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;


}

.login {
    background-color: #9b26b6;
    color: white;

}

@media screen and (max-width: 1000px) {
    .main-header ul li a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
}

.contact-info {
    width: 30%;
    margin-left: 20px;
    margin-top: 90px;
}

.contact-info-item {
    display: flex;
}

.contact-info-icons {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.contact-info-icons i {
    font-size: 20px;
    line-height: 40px;
    color: white;
}


@media screen and (max-width: 480px) {
    .container-c {
        flex-direction: column;
    }

    .contact,
    .contact-info {
        max-width: 100%;
        padding: 10px;
    }

    .contact button {
        width: 100%;

    }
}

/* Login Page */

#login-form {
    background-color: rgb(85, 65, 85);
    padding: 28px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
    margin-top: 5%;
}

#login-form label {
    display: block;
    margin-bottom: 8px;
}

#login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#login-form button {
    background-color: rgb(219, 128, 219);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Register Page Formatting */

/*register page CSS*/
.signup-f{
    display: flex;
    justify-content: center;
  }
  .register{
    box-shadow: 0 0 10px;
    width: 40%;
    margin: 50px auto;
    display:flex;
    flex-direction: column;
    align-items: left;
    padding-left: 2%;

  }
  .register input,
  .register textarea{
    margin-bottom: 10px;
    padding: 5px;
    border:1px solid #ddd;
    border-radius: 5px;
    width: 40%;
    box-sizing: border-box;


  }

  .register input:focus,
  .register textarea:focus{
    outline: 2px solid #9B26B6;
    box-shadow: 0 0 5px rgba(155, 37, 182, 0.5);
  }

  .register button{
    background-color: #9B26B6;
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    width: 20%;
    size: 50px;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
  }

  .register button:hover{
    background-color: rgb(57, 43, 57);
  }

  .register label{
    font-family:Arial,Helvetica,sans-serif;
    color: #dda0dd;

  }
