/* Site-wide Formatting */

body, html {
    background-color: rgb(66,50,66);
}

h1, h2, h3, h4 {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
}

p, pre, label, th, td
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

td
{
    text-align: center;
}

a
{
    color: rgb(221, 160, 221); /* Link colour */
}

.productImg {
    max-width: 15%;
    height: auto;

}

/* General class for all buttons except specific few*/
.button {
    background-color: rgb(219, 128, 219);
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    width: 30%;
    size: 50px;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;

}

.button:hover, button:hover
{
    background-color: rgb(57, 43, 57) !important;
    transition: background-color 0.3s ease;
}

/* Nav Bar Formatting */

.main-header ul {
    /*Styling for the unorder list which is part of the nav bar */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(85, 65, 85);
    height: auto;
    width: 100%;
}

.main-header ul li {
    float: left;
    width: 25%;
}

.main-header li a {
    /*Styling for the links in the nav bar */
    display: block;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

.main-header li a:hover {
    /*styling for when the mouse hovers over a link in the nav bar */
    background-color: rgb(57, 43, 57);
    color: white;
    text-decoration: underline;
}

/* Icons in Header */

.icons ul {
    list-style-type: none; /* Remove bullet points from header icons  */
}

.icons ul li.account {
    /* Places basket, sign in, and login button on right side of the screen */
    float: right;
    /* Gap between symbols on right screen */
    margin-left: 7.5px;
}

/* Logo In Header */
.icons ul li.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logoimg img {
    max-width: 15%;
    max-height: 15%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    .main-header ul li a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
}

/* Index */

ul.catagories  {
    margin: 0px;
    padding-inline-start: 0px;
    max-width: 100%;
    height: auto;
    text-align: center;
}

/* Contact Page Formating */

.contact {
    box-shadow: 0 0 10px;
    width: 40%;
    margin: 50px auto;
    background-color: rgb(85, 65, 85);
}

.contact label {
    text-align: left;
    color: rgb(221, 160, 221);
}

.contact-c {
    display: flex;
    justify-content: center;
}

.contact input {
    margin-right: 10px;
    border-radius: 5px;
    width: 40%;
    border: none;
}

.contact textarea {
    width: 40%;
    border-radius: 5px;
}

.contact input, .contact textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 40%;
    box-sizing: border-box;

}

.contact input:focus, .contact textarea:focus {
    outline: 2px solid #9B26B6;
    box-shadow: 0 0 5px rgba(155, 37, 182, 0.5);
}

/* Contact Info on Side of Page */

.contact-info {
    width: 30%;
    margin-left: 20px;
    margin-top: 90px;
}

.contact-info-item {
    display: flex;
}

.contact-info-icons {
    height: 40px;
    width: 40px;
    background-color: rgb(85, 65, 85);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.contact-info-icons i {
    font-size: 20px;
    line-height: 40px;
    color: white;
}

@media screen and (max-width: 480px) {
    .container-c {
        flex-direction: column;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: initial;
    margin: 20px;
}

/* Products Page Formatting*/

#product-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#product_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

#product-info {
    background-color: rgb(85, 65, 85);
    border: 2px solid dimgrey;
    border-radius: 5px;
    padding: 5px;
    width: 20%;
    margin: 5px;
    display: inline-block;

}

.product-gallery-image {
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 800px) {

    /* Responsive layout - makes a one column layout instead of a two-column layout */
    #product_container {
        flex-direction: column;
    }
}

/* Individual Product View Page Formatting */

#product-view-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#product-view-container-image {
    width: 40%;
    display: flex;
}

#product-view-image {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#product-view-container-info {
    width: 60%;
    text-align: center;
}

.button-out-of-stock {
    background-color: rgb(57, 43, 57);
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    width: 30%;
    size: 50px;
    padding: 10px;
    box-sizing: border-box;
    cursor: default;

}

.button-out-of-stock-basket {
    background-color: rgb(57, 43, 57);
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    width: 30%;
    size: 50px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;

}

.login {
    background-color: rgb(219, 128, 219);
    color: white;
}

@media screen and (max-width: 1000px) {
    .main-header ul li a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
}

.contact-info {
    width: 30%;
    margin-left: 20px;
    margin-top: 90px;
}

.contact-info-item {
    display: flex;
}

.contact-info-icons {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.contact-info-icons i {
    font-size: 20px;
    line-height: 40px;
    color: white;
}


@media screen and (max-width: 480px) {
    .container-c {
        flex-direction: column;
    }

    .contact,
    .contact-info {
        max-width: 100%;
        padding: 10px;
    }

    .contact button {
        width: 100%;

    }
}

/* Login Page */

#login-form {
    background-color: rgb(85, 65, 85);
    padding: 28px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
    margin-top: 5%;
}

#login-form label {
    display: block;
    margin-bottom: 8px;
}

#login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Register Page Formatting */

/*register page CSS*/
.signup-f{
    display: flex;
    justify-content: center;
}

.register{
    box-shadow: 0 0 10px;
    width: 40%;
    margin: 50px auto;
    display:flex;
    flex-direction: column;
    align-items: left;
    padding-left: 2%;
    background-color: rgb(85, 65, 85);
}

.register input,
.register textarea{
    margin-bottom: 10px;
    padding: 5px;
    border:1px solid #ddd;
    border-radius: 5px;
    width: 40%;
    box-sizing: border-box;
}

.register input:focus,
.register textarea:focus{
    outline: 2px solid #9B26B6;
    box-shadow: 0 0 5px rgba(155, 37, 182, 0.5);
}

.register label{
    color: #dda0dd;
    text-align: left;
}

/*About Us*/
.Swiper-container{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}

.about-text{
    max-width: 500px;
    padding-top: 40px;
    margin: auto;
}

.swiper{
    width: 70%;
    max-width: 350px;
    margin: auto;
    height: 350px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 10px;
}

.swiper-wrapper{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    position: relative;
}

.aboutImg{
    width: 350px;
    height: 350px;
    height: auto;
    object-fit: contain;
    flex: 1;
}

.newsletter{
    justify-content: center;
    padding-bottom: 50px;
}

.email-n{
    justify-content: center;
    height: 40px;
    display: flex;

}

.email-n i{
    background-color: rgb(85, 65, 85);
    color: #fff;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    padding: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    border-radius: 50%;

}

.n-button,.n-box{
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.n-box{
    width: 0px;
    transition: 0.6s ease;
}

.email-n:hover > .n-box{
    width: 250px;
    padding: 0 10px;
}

.n-button{
    background-color: rgb(219, 128, 219);
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
}

/* Account  */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-form {
    width: 40%;
    height: auto;
    padding: 20px;
    background-color: rgb(85, 65, 85);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12.5px;
}

/*CSS for the Admin List of users*/
.admin{
    display: flex;
}
.table {
    width: 100%;
    overflow-x: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table th{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(57, 43, 57);
    padding: 6px;
    border: 1px solid #ddd;
}


/* Style for table cells */
.table td {
    border: 1px solid #dddddd;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    /*color: #f2f2f2;*/
}

/*styling for the button*/
.btn {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
}
.btn:hover{
    background-color: rgb(57, 43, 57);
    transition: 0.6s ease;
    cursor: pointer;
}
.btn-AE {
    background-color: #9b26b6;
    color: #fff;
}

.btn-delete {
    background-color: #dc3545;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .table td, .table th {
        padding: 6px;
    }

    .btn {
        width: auto;
        margin-bottom: 3px;
    }
}


/*CSS for the Admin-edit users form*/
.EditUsers{
    display: flex;
    justify-content: center;
    align-items: center;
}
  /*CSS for the Admin-add users form*/
.AddUser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-form{
    width: 40%;
    margin: 50px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    background-color: rgb(85, 65, 85);
    border-radius: 12.5px;
    padding: 2%;
    background-color: rgb(85, 65, 85);
}


/* Create Product Form */

.new-product-form {
    box-shadow: 0 0 10px;
    width: 40%;
    margin: 50px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    background-color: rgb(85, 65, 85);
    border-radius: 12.5px;
}

.new-product-form button {
    left: 50%;
}

.new-product-button {
    float: right;
    margin-bottom: 2px;

}

.table-button-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.table-button {
    width: 90% !important;
    margin: 3px !important;
}

div .review {
    width: 100%;
}
