/*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*/

body, html {
  background-color: purple;
}

h1, h2, h3 {
	font-family: 'Libre Baskerville';
	color: white;
}

p, pre { 
    font-family:Arial,Helvetica,sans-serif;
    color: #dda0dd;
}

/* css for nav bar */

/*Styling for the unorder list which is part of the nav bar */
.main-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 200px;
  overflow: hidden;
  background-color: #dda0dd;
  height: auto;
  width: 100%;
}

.main-header ul li {
  /* float: left; */
  width: 25%;
}

/*Styling for the actual text in the nav bar */
.main-header li a {
  width: 350px;
  display: block;
  font-family: Helvetica;
  color: white;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

/*styling for when the mouse hovers over the text options in the nav bar */
.main-header li a:hover {
  background-color: #111;
  color: white;

  
  text-decoration: underline;
}

/*css for icons*/

.icons{
  float: right;
  display: block;
  padding: 5px;
  
}

header{
  padding: 20px;
  flex-wrap: wrap;
}

/*Logo css*/

.logoimg{
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}
